@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Styles */
body {
  font-family: "Azeret Mono", monospace;
}

/* Banner Start */
#banner-container {
  max-width: 1440px;
  height: 652px;
  /* border: 2px solid red; */
  background: url(../assets/Hero-bg.png);
}

.banner-content {
  width: 998px;
  /* border: 2px solid green; */
  height: 652px;
  margin: 0 auto;
  text-align: center;
}

.banner-content img {
  padding: 26px 378px;
}

.banner-content h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.banner-content p {
  width: 940px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.banner-content button {
  padding: 18px 18px 18px 18px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  margin-top: 32px;
}

.banner-content a {
  text-decoration: none;
  color: #ffffff;
}

/* Banner End */

/*  Web-Development-part Start  */
.web-container {
  width: 1140px;
  height: 1395px;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-top: 74px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.web-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
}

.web-text h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.web-text p {
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px;
  width: 852px;
}

.first-content,
.second-content,
.third-content {
  /* width: 100%; */
  display: flex;
  padding: 48px 48px;
  width: 946px;
}

.first-content-text-box {
  width: 60%;
  /* border: 2px solid yellow; */
}
.first-content-text-box h1 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  width: 484px;
  margin-top: 70px;
}

.first-content-text-box p {
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 531px;
  margin-top: 16px;
}

.first-content-text-box button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  background: #ffffff;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px;
  margin-top: 32px;
  cursor: pointer;
}

.first-content-image-box {
  width: 40%;
  /* border: 2px solid green; */
}

.first-content-image-box img {
  padding: 30px 90px;
}

/*  Web-Development-part end  */

/* Inspiration Start */
.inspiration-container {
  width: 1140px;
  height: 775px;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-top: 78px;
  border-radius: 16px;
}

.inspiration-container .title-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.title-part h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.title-part p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 852px;
  margin-top: 24px;
}

.inspiration-content {
  width: 1140px;
  height: 775px;
  height: 550px;
  margin: 0 auto;
  margin-top: 80px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.inspiration-content iframe {
  width: 1076px;
  height: 550px;
  border-radius: 16px;
}
/* Inspiration End */

/* Current Target part start */

.current-target-container {
  width: 1140px;
  height: 500px;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-top: 80px;
  /* border-radius: 16px; */
}

.current-target-container .current-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.current-title h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.current-title p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 852px;
  margin-top: 24px;
}

.current-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
}

.first-card,
.second-card,
.third-card {
  width: 33%;
  /* border: 2px solid blue; */
  border-radius: 16px;
  height: 320px;
  padding: 40px;
}

.first-card {
  background: rgba(255, 76, 30, 0.05);
}

.first-card h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 8px;
}

.first-card p {
  opacity: 0.7;

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 8px;
}

.first-card a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 8px;
}

.second-card {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}

.second-card h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 8px;
}

.second-card p {
  opacity: 0.7;

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 8px;
}

.second-card a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 8px;
}

.third-card {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}

.third-card h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 8px;
}

.third-card p {
  opacity: 0.7;

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 8px;
}

.third-card a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 12px;
}
/* Current Target part end */

/* support start */
.support-container {
  width: 1140px;
  height: 314px;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-top: 47px;
  border-radius: 16px;
  background: url(../assets/handshake.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  padding: 48px 64px;
}

.support-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.support-text h1 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.support-text p {
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 16px;
}

.input-section {
  margin-top: 24px;
}

.input-section input {
  width: 548px;
  height: 57px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: none;

  /* margin-left: 20px; */
}

.input-section input::placeholder {
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  padding: 20px 20px;
  /* text-align: justify; */
}

.input-section button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  width: 120px;
  height: 58px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: none;
}

/* support end */

/* footer start */

#footer-container {
  max-width: 1440px;
  height: 100px;
  /* border: 2px solid red; */
  margin-top: 79px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}

.footer-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.footer-content h4 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* margin-top: 20px; */
}

/* footer end */
