@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Styles */
body {
  font-family: "Azeret Mono", monospace;
}

/* Banner Start */
#banner-container {
  max-width: 1440px;
  height: 652px;
  /* border: 2px solid red; */
  background: url(../assets/Hero-bg.png);
}

.banner-content {
  width: 998px;
  /* border: 2px solid green; */
  height: 652px;
  margin: 0 auto;
}

.banner-content img {
  padding: 26px 378px;
}

.banner-content h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.banner-content p {
  width: 940px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.btn-container {
  text-align: center;
}

.btn {
  margin-top: 32px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

/* Banner End */

/*  Web-Development-part Start  */
.Web-container {
  width: 1140px;
  height: 1395px;
  border: 2px solid red;
  margin: 0 auto;
  margin-top: 74px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
 
}

.web-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.web-text h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.web-text p {
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px;
  width: 852px;
}

.first-content , .second-content, .third-content{
    width: 100%;
    display: flex;
    /* background-color: #ffffff; */
    padding: 48px 48px;
    /* background: rgba(13, 19, 33, 0.02); */
   
}
.first-content-text-box {
  width: 60%;
  border: 2px solid yellow;
  /* background-color: #bdbcbc09; */
  /* margin: 0 auto; */
}
.first-content-text-box h1 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  width: 484px;
  margin-top: 70px;
}

.first-content-text-box p {
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  width: 531px;
  margin-top: 16px;
}

.first-content-text-box button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  background: #ffffff;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px;
  margin-top: 32px;
}

.first-content-image-box {
  width: 40%;
  border: 2px solid green;
}

.first-content-image-box img{
    padding: 30px 70px;
}

/*  Web-Development-part end  */


